<!DOCTYPE html>
<html lang="en" ng-app="TeachersPetApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    function clearThis(target){
        target.value= "";
    }
    </script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles2.css">
    <link  rel="stylesheet" type="text/css" href="css/styles2.css">
    <link rel="alternate stylesheet" type="text/css" href="../static/css/styles3.css">
    <link id="pagestyle" rel="alternate stylesheet" type="text/css" href="css/styles3.css">

    <meta charset="UTF-8">
    <title>Teacher's Pet</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->





</head>



<body ng-controller="GradebookController">

<!--<button ngclick="swapStyleSheet('styles2.css')"> </button>-->
<!--<button onclick="swapStyleSheet('styles3.css')"> </button>-->
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}
<div class="page-wrap">
    <!--<div class="container" style="display: inline-block">-->
        <!--<div class="dropdown" id="dropdown" style="display: inline-block">-->
            <!--<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Switch View-->
                <!--<span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe">Split View</button> </a> </li>-->
                <!--<li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe1">Gradebook View</button>  </a> </li>-->
                <!--<li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe2">Graph View</button>  </a> </li>-->

            <!--</ul>-->
        <!--</div>-->


        <!--<div id="logout" style="display: inline-block">-->
            <!--<button type="button" class="btn btn-default btn-s" ng-click="logout()"> Logout </button>-->
        <!--</div>-->
    <!--</div>-->





    <input type="hidden" ng-model="courseIdForGradebook" ng-init="gradebook(<%courseId%>)"/>

    <input type="hidden" ng-click="testMustacheVar()" value="Testing"/>
    <!--<div style="text-align: center">-->
    <!--Welcome to Teacher's Pet-->
    <!--</div>-->

    <!--<span ng-if="loginSuccessful">-->
    <!--Welcome, {{teacherWhoIsLoggedIn.firstName}} {{teacherWhoIsLoggedIn.lastName}}! <br/><br/>-->
    <!--<h3>Add a class: </h3>-->
    <!--Name: <input type="text" ng-model="newClassName"/> <br/>-->
    <!--Subject: <input type="text" ng-model="newClassSubject"/> <br/>-->
    <!--Grade Level: <input type="number" ng-model="newClassGradeLevel"/> <br/>-->
    <!--<input type="button" ng-click="addClass(newClassName, newClassSubject, newClassGradeLevel)" value="Add class"/> <br/>-->
    <!--<div>-->
    <!--<h2>My Classes: </h2>-->
    <!--<ol>-->
    <!--<span ng-repeat="course in allCourses">-->
    <!--<li>{{course.name}}, Subject: {{course.subject}}, Grade Level: {{course.gradeLevel}} <input type="button" ng-click="gradebook(course)" value="Gradebook"/> </li>-->
    <!--</span>-->
    <!--</ol>-->



    <!--<div ng-if="currentClass">-->
    <!--<h3>{{currentClass.name}}'s students: </h3>-->
    <!--<ul>-->
    <!--<span ng-repeat="student in allStudents">-->
    <!--<li>{{student.firstName}} {{student.lastName}} </li>-->
    <!--</span>-->
    <!--</ul>-->
    <!--<br/>-->

    <!--<h3>Add a student to {{currentClass.name}}: </h3>-->
    <!--Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>-->
    <!--Last name: <input type="text" ng-model="newStudentLastName"/> <br/>-->
    <!--Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>-->
    <!--<input type="button" ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/> <br/>-->

    <!--<br/><br/>-->
    <!--&lt;!&ndash;<h3>{{currentClass.name}}'s assignments: </h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<span ng-repeat="assmt in allAssignments">&ndash;&gt;-->
    <!--&lt;!&ndash;<li>{{assmt.name}}, due on {{assmt.dueDate}} </li>&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<br/>&ndash;&gt;-->

    <!--<h3>Add an assignment: </h3>-->
    <!--Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>-->
    <!--Due date: <input type="text" ng-model="newAssignmentDate"/> <br/>-->
    <!--<input type="button" ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>-->

    <!--<h3 id="class-header"> {{currentClass.name}} Gradebook </h3>-->

    <!--<ul class="pager">-->
    <!--<li> <a ng-click="ngBack()"> Go Back </a> </li>-->
    <!--</ul>-->

    <section class="table-responsive" id="square">




        <div class="container" style="display: inline-block">
            <div class="dropdown" id="dropdown" style="display: inline-block">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Switch View
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe">Split View</button> </a> </li>
                    <li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe1">Gradebook View</button>  </a> </li>
                    <li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe2">Graph View</button>  </a> </li>

                </ul>
            </div>


            <div id="logout" style="display: inline-block">
                <button type="button" class="btn btn-default btn-s" ng-click="logout()"> Logout </button>
            </div>
        </div>



        <table class="table table-bordered">



                    <div ng-if="gradebookContainer.studentContainers[0] != undefined">



                    <button name="but" type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">Add Assignment</button>
                        <input type="button" class="btn btn-default btn-md" ng-click="sendEmailForAllZeros()" value="Email all with missing assignments"/>
                        <input type="button" class="btn btn-default btn-md" ng-click="sendEmailForAllHighAverages()" value="Email all with averages over {{highAverage}}"/>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" ng-if="gradebookContainer.studentContainers[0] != undefined">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add assignment</h4>
                                </div>
                                <div class="modal-body">
                                    <div>

                                        <form>
                                        Assignment name: <input class="form-control" type="text" ng-model="newAssignmentName"/> <br/>
                                        Due date: <input class="form-control" type="date" ng-model="newAssignmentDate"/> <br/>
                                        <input type="button" class="btn btn-default" ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/>
                                        <input class="btn btn-default" type="reset" value="Reset">
                                        <br/>
                                        </form>



                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>



                    </div>




                    </div>



            <tr>
                <td></td>
                <td ng-repeat="currentAssignment in allAssignments">

                    {{currentAssignment.name}}, due {{currentAssignment.dueDate}}
                    <!--<div>-->
                        <!--<button type="button" class="btn btn-default btn-sm"  ng-click="showGraph(currentAssignment)" value="Show graph!">-->
                            <!--<span class="glyphicon glyphicon-signal" > </span> Graph-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-default btn-sm" ng-click="deleteAssignment(currentAssignment)" value="Delete">-->
                            <!--<span class="glyphicon glyphicon-trash" > </span> <font color="red"> Delete </font>-->
                        <!--</button>-->
                    <!--<button type="button" class="btn btn-default btn-xs" ng-click="hideGraph()" value="hide graph!"> Hide Graph </button>-->
                    <!--</div>-->
                </td>

            </tr>





            <!---->
            <!---->
            <!--<tr>-->
            <!--<td>-->
            <!--<button name="but" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Add Assignment</button>-->

            <!--&lt;!&ndash; Modal &ndash;&gt;-->
            <!--<div class="modal fade" id="myModal" role="dialog">-->
            <!--<div class="modal-dialog">-->

            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <!--<h4 class="modal-title">Add assignment</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
            <!--<div>-->


            <!--Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>-->
            <!--Due date: <input type="date" ng-model="newAssignmentDate"/> <br/>-->
            <!--<input type="button"  ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>-->



            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</td>-->





            <!--</tr>-->

            <tr class="header" ng-repeat="studentContainer in gradebookContainer.studentContainers">
                <td>{{ studentContainer.student.firstName }} {{ studentContainer.student.lastName }} | <span style="color: gray"> Average: {{ studentContainer.average }}  </span>
                    <div>
                    <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Emails the student's parent with a progress report." class="btn btn-default" ng-click="sendEmailOneStudent(studentContainer)" value="Email">

                    <span class="glyphicon glyphicon-envelope" > </span> Email </button>
                    <button type="button" class="btn btn-default " ng-click="deleteStudent(studentContainer.student)" value="Delete">
                        <span class="glyphicon glyphicon-trash" > </span> <font color="red"> Delete </font>
                    </button>
                    </div>
                </td>

                <td ng-repeat="studentAssignment in studentContainer.studentAssignments"> <input class="form-control" style="width:80px;" type="number"  ng-model="studentAssignment.grade" ng-keyup="storeGrades"/> </td>
            </tr>

            <!--<tr>-->

            <!--</tr>-->

            <tr>
                <td> <button type="button" class="btn btn-default btn-lg"  data-toggle="modal" data-target="#myModals">Add Student</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModals" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Student</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form>
                                        Student first name: <input class="form-control" type="text" ng-model="newStudentFirstName"/> <br/>
                                        Last name: <input  class="form-control" type="text" ng-model="newStudentLastName"/> <br/>
                                        Parent email: <input class="form-control" type="text" ng-model="newStudentParentEmail"/> <br/>
                                        <input type="button" class="btn btn-info " ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/>
                                            <input class="btn btn-default " type="reset" value="Reset">
                                            <br/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                    <br><br>
                </td>




                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <button type="button" class="btn btn-default btn-md" ng-click="addGrades(allAssignments[$index], gradebookContainer.studentContainers)" value="Send grades">
                    <span class = "glyphicon glyphicon-send"> Update-Grades </span>
                </button>
                </td>

            </tr>

            <!--<tr>-->
            <!--<td> </td>-->

            <!--<td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" ng-click="getAverage(allAssignments[$index], gradebookContainer.studentContainers)" value="Get Average"/> </td>-->
            <!--</tr>-->

            <tr>
                <td> </td>

                <!--<td ng-repeat="assignmentAndAverageContainer in gradebookContainer.assignmentAndAverageContainers"> Average: {{assignmentAndAverageContainer.average}} </td>-->
                <td ng-repeat="average in assignmentAveragesContainerArray track by $index"> <span style="color: gray"> Uncurved average: {{average.originalAverage}} </span> <br/> Current average: {{average.currentAverage}}
                    <button type="button" class="btn btn-default btn-md"  ng-click="getOriginalGrades(allAssignments[$index])" value="Revert to original grades">
                        <span class = "glyphicon glyphicon-refresh"> Revert-Grades </span>
                    </button>

                </td>
            </tr>

            <tr>

                <td> </td>

                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> Extra credit: <input type="number" onfocus="clearThis(this)" ng-model="extraCreditAmount" placeholder="# points"/> <input type="button" class="btn btn-default btn-md"  ng-click="addExtraCredit(extraCreditAmount, allAssignments[$index], gradebookContainer.studentContainers)" value="Add extra credit"/>

                </td>

            </tr>

            <tr>
                <td> </td>
                <div>
                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index">
                    <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Computes the difference of highest grade and 100, and adds the difference to each grade." class="btn btn-default btn-md" ng-click="curveFlat(allAssignments[$index], gradebookContainer.studentContainers)" value="Flat curve">
                       Flat Curve
                    </button>

                    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>




                    <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Sets the highest to 100%, and calculates all other grades as percentage of the highest grade." class="btn btn-default btn-md" ng-click="curveAsPercentageOfHighestGrade(allAssignments[$index], gradebookContainer.studentContainers)" value="Percentage of highest curve">
                        Percent of Highest Curve
                    </button>



                    <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Replaces each grade with its sq. root multiplied by ten." class="btn btn-default btn-md"  ng-click="curveByTakingRoot(allAssignments[$index], gradebookContainer.studentContainers)" value="Square root curve">
                        Square Root Curve
                    </button>

                </td>

            </tr>
            <tr>
                <td>
            </td>
            </tr>



        </table>
    </section>


    <section id="right">

        <div class="container" id="group" style="display: inline-block">
            <div class="dropdown" id="dropdown1" style="display: inline-block">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Switch View
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li> <a href="#"> <button type="button" class="btn btn-default" id="clickThis">Split View</button> </a> </li>
                    <li> <a href="#"> <button type="button" class="btn btn-default" id="clickThis1">Gradebook View</button>  </a> </li>
                    <!--<li> <a href="#"> <button type="button" class="btn btn-default" id="clickMe2">Graph View</button>  </a> </li>-->

                </ul>
            </div>


            <div id="logout1" style="display: inline-block">
                <button type="button" class="btn btn-default btn-s" ng-click="logout()"> Logout </button>
            </div>
        </div>


        <div ng-if="graphShowing">
        <canvas id="canvas" height="600" width="1650" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" width="700" height="400"
        />
        </div>




            <div class="dropdown" style="display: inline-block">

                <div id="gb">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Choose Assignment
            <span class="caret"></span></button>

            <ul class="dropdown-menu">
                 <span ng-repeat="currentAssignment in allAssignments">
                <li> <a href="#"> <button type="button" class="btn btn-default btn-sm"  ng-click="showGraph(currentAssignment)" value="Show graph!"/> {{currentAssignment.name}} </a></li>

                </span>
            </ul>
                    </div>
                </div>

        <div class="center">
            <div>

                    <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Computes the difference of highest grade and 100, and adds the difference to each grade." class="btn btn-default btn-md" ng-click="curveFlat(assforgraph, gradebookContainer.studentContainers)" value="Flat curve">
                        Flat Curve
                    </button>


        <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Sets the highest to 100%, and calculates all other grades as percentage of the highest grade." class="btn btn-default btn-md" ng-click="curveAsPercentageOfHighestGrade(assforgraph, gradebookContainer.studentContainers)" value="Percentage of highest curve">
            Percent of Highest Curve
        </button>



        <button href="#" title="More Info" data-toggle="popover" data-trigger="hover" data-content="Replaces each grade with its sq. root multiplied by ten." class="btn btn-default btn-md"  ng-click="curveByTakingRoot(assforgraph, gradebookContainer.studentContainers)" value="Square root curve">
            Square Root Curve
        </button>
                <font class="center1">
            Extra credit:  <input type="number" onfocus="clearThis(this)"  ng-model="extraCreditAmount" placeholder="# points"/> <input type="button" class="btn btn-default btn-md"  ng-click="addExtraCredit(extraCreditAmount, assforgraph, gradebookContainer.studentContainers)" value="Add extra credit"/>
                </font>


                <button type="button" class="btn btn-default btn-md"  ng-click="getOriginalGrades(assforgraph)" value="Revert to original grades">
                <span class = "glyphicon glyphicon-refresh"> Revert-Grades </span>
            </button>
                </div>


        <br>
            Original average: {{ originalAverageForGraphView }} || Current average: {{ currentAverageForGraphView }}
        </div>



    </section>







<div id="rightone">

    <div ng-if="graphShowing">
        <canvas id="canvases" height="600" width="1000" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" width="700" height="400"
        />

    </div>


    <div class="dropdown" id="dropdowns" style="display: inline-block">

        <div id="gb">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Choose Assignment
                <span class="caret"></span></button>

            <ul class="dropdown-menu">
                 <span ng-repeat="currentAssignment in allAssignments">
                <li> <a href="#"> <button type="button" class="btn btn-default btn-sm"  ng-click="showGraph(currentAssignment)" value="Show graph!"/> {{currentAssignment.name}} </a></li>

                </span>
            </ul>





            <button type="button" class="btn btn-default btn-md" ng-click="curveFlat(assforgraph, gradebookContainer.studentContainers)" value="Flat curve">
                Flat Curve
            </button>

            <button href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content" class="btn btn-default btn-md" ng-click="curveAsPercentageOfHighestGrade(assforgraph, gradebookContainer.studentContainers)" value="Percentage of highest curve">
                Percent of Highest Curve
            </button>

            <button type="button" class="btn btn-default btn-md"  ng-click="curveByTakingRoot(assforgraph, gradebookContainer.studentContainers)" value="Square root curve">
                Square Root Curve
            </button>
            <button type="button" class="btn btn-default btn-md"  ng-click="getOriginalGrades(assforgraph)" value="Revert to original grades">
                <span class = "glyphicon glyphicon-refresh"> Revert-Grades </span>
            </button>





        </div>



    </div>



</div>




































    <br/><br/>





</div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js" integrity="sha256-LyocQFwqh0JslfDVDlJqJamo/nJP/5rAQdYtCAtB4hU=" crossorigin="anonymous"></script>
<script src ="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script src="js/gradebook-ng-controller.js"></script>

</html>