<!DOCTYPE html>
<html lang="en" ng-app="TeachersPetApp">
<head>
    <meta charset="UTF-8">
    <title>Teacher's Pet</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body ng-controller="GradebookController">
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

<input type="hidden" ng-model="courseIdForGradebook" ng-init="gradebook(<%courseId%>)"/>

<input type="hidden" ng-click="testMustacheVar()" value="Testing"/>
<!--<div style="text-align: center">-->
    <!--Welcome to Teacher's Pet-->
<!--</div>-->

    <!--<span ng-if="loginSuccessful">-->
        <!--Welcome, {{teacherWhoIsLoggedIn.firstName}} {{teacherWhoIsLoggedIn.lastName}}! <br/><br/>-->
        <!--<h3>Add a class: </h3>-->
        <!--Name: <input type="text" ng-model="newClassName"/> <br/>-->
        <!--Subject: <input type="text" ng-model="newClassSubject"/> <br/>-->
        <!--Grade Level: <input type="number" ng-model="newClassGradeLevel"/> <br/>-->
        <!--<input type="button" ng-click="addClass(newClassName, newClassSubject, newClassGradeLevel)" value="Add class"/> <br/>-->
        <!--<div>-->
            <!--<h2>My Classes: </h2>-->
            <!--<ol>-->
                <!--<span ng-repeat="course in allCourses">-->
                    <!--<li>{{course.name}}, Subject: {{course.subject}}, Grade Level: {{course.gradeLevel}} <input type="button" ng-click="gradebook(course)" value="Gradebook"/> </li>-->
                <!--</span>-->
            <!--</ol>-->

        <!--</div>-->

        <!--<div ng-if="currentClass">-->
            <!--<h3>{{currentClass.name}}'s students: </h3>-->
            <!--<ul>-->
            <!--<span ng-repeat="student in allStudents">-->
            <!--<li>{{student.firstName}} {{student.lastName}} </li>-->
            <!--</span>-->
            <!--</ul>-->
            <!--<br/>-->

            <!--<h3>Add a student to {{currentClass.name}}: </h3>-->
            <!--Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>-->
            <!--Last name: <input type="text" ng-model="newStudentLastName"/> <br/>-->
            <!--Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>-->
            <!--<input type="button" ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/> <br/>-->

            <!--<br/><br/>-->
            <!--&lt;!&ndash;<h3>{{currentClass.name}}'s assignments: </h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<span ng-repeat="assmt in allAssignments">&ndash;&gt;-->
            <!--&lt;!&ndash;<li>{{assmt.name}}, due on {{assmt.dueDate}} </li>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<br/>&ndash;&gt;-->

            <!--<h3>Add an assignment: </h3>-->
            <!--Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>-->
            <!--Due date: <input type="text" ng-model="newAssignmentDate"/> <br/>-->
            <!--<input type="button" ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>-->



            <table>
                <tr>
                    <td></td>
                    <td ng-repeat="currentAssignment in allAssignments"> {{currentAssignment.name}} </td>
                    <td> <input type="button" ng-click="" value="Add assignment (coming soon)"/>

                <tr ng-repeat="studentContainer in gradebookContainer.studentContainers">
                    <td>{{ studentContainer.student.firstName }} {{ studentContainer.student.lastName }}</td>

                    <td ng-repeat="studentAssignment in studentContainer.studentAssignments"> <input type="number" ng-model="studentAssignment.grade" ng-keyup="storeGrades"> </td>
                </tr>

                <tr>
                    <td> <input type="button" ng-click="" value="Add student (coming soon)"/> </td>

                    <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" ng-click="addGrades(allAssignments[$index], gradebookContainer.studentContainers)" value="Send grades"/> </td>

                </tr>

                <tr>
                    <td> </td>
                    <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" ng-click="curveFlat(allAssignments[$index], gradebookContainer.studentContainers)" value="Flat curve"/> </td>
                </tr>


                <tr>
                    <td> </td>
                    <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" ng-click="curveAsPercentageOfHighestGrade(allAssignments[$index], gradebookContainer.studentContainers)" value="Percentage of highest curve (coming soon)"/> </td>

                </tr>
            </table>




            <br/><br/>
            *** We'll make the forms below separate pop-ups that only shows when we click "Add student" or "Add assignment" above ***
            <h3>Add a student: </h3>
            Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>
            Last name: <input type="text" ng-model="newStudentLastName"/> <br/>
            Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>
            <input type="button" ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/> <br/>

            <br/><br/><br/>
            <h3>Add an assignment: </h3>
            Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>
            Due date: <input type="text" ng-model="newAssignmentDate"/> <br/>
            <input type="button" ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>



</span>

</span>


</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/gradebook-ng-controller.js"></script>

</html>