<!DOCTYPE html>
<html lang="en" ng-app="TeachersPetApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>-->

    <!--<script src="node_modules/chart.js/Chart.min.js"></script>-->
    <!--<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>-->

    <meta charset="UTF-8">


    <title>GRAPH</title>

</head>
<body ng-controller="GraphController">

<canvas class="chart chart-line" chart-data="data" chart-labels="labels"
        chart-series="series" chart-click="onClick"> </canvas>
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

<input class="hidden" ng-model="courseIdForGraph" ng-init="graph(<%courseId%>)"/>

<input type="hidden" ng-click="testMustacheVar()" value="Testing"/>

<h3 id="class-header"> {{currentClass.name}} Graph </h3>



<div>
<button type="button" class="btn" ng-click = "getAllAss()" value="assasssasss" />
</div>








</body>
<!--&lt;!&ndash;<script src="node_modules/angular/angular.min.js"></script>&ndash;&gt;-->
<!--<script src="node_modules/chart.js/Chart.min.js"></script>-->
<!--<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js" integrity="sha256-LyocQFwqh0JslfDVDlJqJamo/nJP/5rAQdYtCAtB4hU=" crossorigin="anonymous"></script>
<script src ="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script src="js/graph-ng-controller.js"></script>
</html>